.home-content {
  width: 100%;
  min-height: calc(100vh - $home-navbar-height);
  margin-left: $home-sider-width;
  transition: margin-left 300ms;
  &--expanded {
    margin-left: $home-sider-width--collapsed;
  }
}
