.field-wrapper {
  &__label {
    display: inline-block;
    margin-bottom: 0.8rem;
  }

  &__status-message {
    margin-top: 0.8rem;

    &--error {
      color: red;
    }

    &--warn {
      color: orange;
    }
  }
}
