.home-sider {
  border-right: 1px solid var(--color-border-container-100);

  :global(.ant-layout-sider-trigger) {
    border-right: 1px solid var(--color-bg-container-800);
  }

  .icon {
    font-size: 2rem;
  }
}